# Basics

In [ ]:
cntrl / comment
# a = 10
# b = 20

In [1]:
5 %3 # returns remainder
5//3 # returns qoutient

1

In [ ]:
a = 10

In [ ]:
type(a)

In [4]:
2 ** 4 ##exponential

16

# Data types

number
float
string
boolean
lists
dictionary 
tuple
sets

In [1]:
# number
1+1

2

In [5]:
# float
a = float(2.3)

In [6]:
a = 2.3

In [7]:
type(a)

float

In [3]:
# boolean
print(int(False))
int(True)

0

1

# strings

In [ ]:
word = 'hello'

In [9]:
word = "can't"
word
type('word')
type(word)

str

In [1]:
a=10
b=20
c=a+b
print(c)
print('value is', c)

30
value is 30

In [ ]:
'''
multi-line comments

'''

In [12]:
print(type(c))
type(c)

<class 'int'>

int

# boolean

In [13]:
type(True)

bool

In [14]:
True

True

# Variable assignment

In [15]:
x=2
y=3
z=4 
#tuple unpacking
x,y,z = 2,3,4
print('value of x', x)
print('value of y', y)
print('value of z', z)

value of x 2
value of y 3
value of z 4

In [16]:
import os
os.getcwd()

'C:\\Users\\admin\\Downloads\\python'

# concatenation

In [1]:
print('hello' + 'there') #gives no space

hellothere

In [2]:
print('hello', 'there')

hello there

# inter - converting string

In [3]:
s = '100'
print(float(s))
cs = int(s) # converting s string into int
cs
print(cs, type(cs))

100.0
100 <class 'int'>

In [2]:
s = 100
conn = str(s)
conn
print(conn, type(conn))
s+1

100 <class 'str'>

101

In [30]:
x,y = 12,2
x //y # absolute
x/y  #float

6

In [14]:
x=10

y=2

# x += y    # x = x+y

# x *= y

# x /= y

# x %= y

# x

In [10]:
x,y = 1,2
display(x=+y)

In [ ]:
word = 'hello'
'e' in word
'h' not in word

# Python collections
# list

In [5]:
lis = [11,22,33,44,55]
type(lis)  # all kinds of datatypes

list

In [6]:
# here the "value" will return the as it is elemensts in list
for value in lis:
    print(value)

11
22
33
44
55

In [14]:
for value in lis:
    if lis[1] != lis[-1]:
        print(lis[2])
        break

33

In [15]:
[1,2,3,4,5] + [9,8,7,6,5]   # concatination

[1, 2, 3, 4, 5, 9, 8, 7, 6, 5]

In [7]:
# RANGE FUNCTION
#here the value will return the "indexes" of the values in the list
for value in range(len(lis)):
    print(value)

0
1
2
3
4

In [27]:
for value in lis:
    print(value+10)

21
32
43
54
65

In [28]:
# concatenate commnd in list
[1,2,3,4,5] + [5,6,7,5,6]

[1, 2, 3, 4, 5, 5, 6, 7, 5, 6]

# List operations
## 1.INDEX

In [4]:
f = ["green", "blue", "pink","purple"]
f.index("blue")  # index of a value

1

In [17]:
f = [1,2,3,4,5,7,8,9,10]
f[3] = -10   # overwrite/replaces the value at index 3
print(f)
f[-2] = -50
f

[1, 2, 3, -10, 5, 7, 8, 9, 10]

[1, 2, 3, -10, 5, 7, 8, -50, 10]

## 2.APPEND

In [8]:

'''
The append() method is used to add elements at the end of the list. 
This method can only add a single element at a time. To add multiple elements,
the append() method can be used inside a loop.
'''
f = [1,2,3,4,56,6]

f1 = [10,20,30]
f.append(f1)
print('appended f is : ', f, '\n')
# nested list

appended f is :  [1, 2, 3, 4, 56, 6, [10, 20, 30]]

In [3]:
j = 'new'
f.append(j)
print('apppenend new', f)

apppenend new [6, 5, 4, 3, 2, 'new']

In [26]:
a = [1,2,3,4,5]
b= [9,8,7,6]
for number in b:
    a.append(number)
print(a)

[1, 2, 3, 4, 5, 9, 8, 7, 6]

In [6]:
a = [1,2,3,4,5]
b= [9,8,7,6]
a.extend(b)
print(a)

# return simplelist

[1, 2, 3, 4, 5, 9, 8, 7, 6]

## reverse

In [10]:
f = [2,3,4,5,6]
f.reverse()
f

[6, 5, 4, 3, 2]

## pop and remove

In [23]:
f1 = [40,20,30,50,90]
f1.pop(1) # uses index to remove element
print(f1)
f1.pop() # pops last element in case of no index provided
f1

[40, 30, 50, 90]

[40, 30, 50]

In [24]:
f1.remove(30)# uses element itself to remove 
f1

[40, 50]

## slicing

In [18]:
#upper bound element excluded(n-1)
# always goes from left to right

lis = [1,2,3,7,4,8,90]

print('printing 0:5',  lis[0:5])
print('printing -5 : -1', lis[-5:-1])

printing 0:5 [1, 2, 3, 7, 4]
printing -5 : -1 [3, 7, 4, 8]

In [31]:
lis = ['k', 'o', 'm', 'a', 'l', 'v']
print(lis[3::-2]) #[LB : UB :STEPSIZE]   # (-)stepsize moves from right to left
lis[:]
lis[1:]
print(lis[:2])
lis[::2]

['a', 'o']
['k', 'o']

['k', 'm', 'l']

In [36]:
lis = [3,4,5,6,7,8,9]
lis[-4:-1]
lis[-1:-4]
lis[1:4:2]

[4, 6]

In [28]:
a = [[1,2],[45,[25,56,38],43],89,[78,9,[6]]]
#print 56
# a[1][1][1]
a[3][2]

[6]

In [29]:
a[1][1][1:]

[56, 38]

In [30]:
lis1 = [1,2,3,4,5]
lis2 = [3,4,5,67,7]
lis3 = [5,4,6,7]

n = lis1+lis2+lis3
n

[1, 2, 3, 4, 5, 3, 4, 5, 67, 7, 5, 4, 6, 7]

## 3. DELETE ELEMENTS

In [31]:
# indexvise
list1 = [2,4,3,5,4]
del list1[2]
print("after deleting element the updated list is: ", list1)

after deleting element the updated list is:  [2, 4, 5, 4]

## 4. COUNT

In [17]:
# tells abt the occurences in the list
alist = ['komal','vats','loves','pizza','pizza']
print(alist.count('pizza'))

2

## 5. INSERT

In [6]:
'''
The insert() method can add an element at a given position in the list. 
Thus, unlike append(), it can add elements at any position but like append(), it can add only one element at a time.
This method takes two arguments.
The first argument specifies the position and the second argument specifies the element to be inserted.
'''
mylist = ['komal','ria','india',5,2,'laptop']
mylist.insert(0,'rihana')
print(mylist)
len(mylist)

['rihana', 'komal', 'ria', 'india', 5, 2, 'laptop']

7

In [22]:
len((1,2,3)) # works for lists, tuples, strings

3

# SORT

In [3]:
mylis1 = [4,3,9,5,6,6]
mylis1.sort()
print(mylis1)

[3, 4, 5, 6, 6, 9]

# COPY

In [1]:
# 1
a = [1,2,3,4,5]
b = a[:]
# a.pop()
print(a,b)

[1, 2, 3, 4, 5] [1, 2, 3, 4, 5]

In [35]:
# 2
import copy
c = copy.copy(a)
a.pop()
print(a,c)

[1, 2, 3] [1, 2, 3, 4]

## EXTEND

In [ ]:
'''
The extend() method is used to add more than one element at the end of the list.
Although it can add more than one element unlike append(), it adds them at the end of the list like append().
   
'''

In [3]:
lis1 = [1,2,3,4,5]
lis2 = [3,4,5,67,7]
lis3 = [5,4,6,7]

lis1.extend(lis2)
lis1

[1, 2, 3, 4, 5, 3, 4, 5, 67, 7]

In [10]:
list5 = ['edd','ekk','egg']
list5.extend([2,4,5]);list5

['edd', 'ekk', 'egg', 2, 4, 5]

In [6]:
myList = ['ram']
myList.extend([4, 5, 6]);myList
# for i in range(7, 9):
#     myList.append(i)
#     print(myList)

['ram', 4, 5, 6, 7]
['ram', 4, 5, 6, 7, 8]

In [32]:
# append and for loops
lis1 = [1,2,3,4]
for value in lis1:
    value *= 100
    print(value)

100
200
300
400

In [15]:
lis2 = [2,3,4,5]
lis3 = []

for value in lis2:
    lis3.append(value*100)
lis3

[200, 300, 400, 500]

In [16]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for i in adj:
    for j in fruits:
        print(i,j)
# inner loops will execute fully then only only it goes to complete
# outer loop
# [i for i in adj]
# [j for j in fruits]
# [(i,j) for i in adj for j in fruits]
# shuru me i jo h vo print krne k liye k kya print krna
# these are called one liners or list comprehensions

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [17]:
inp = [1,2,3,4]
#oup = [1,4,9,16]
h = []
for i in inp:
    h.append(i**2)
print("new list : ", h)

new list :  [1, 4, 9, 16]

In [18]:
lis = [1,2,3,4]
[value ** 2 for value in lis]

[1, 4, 9, 16]

In [37]:
# range function
#range(start = 0(optional), stop, step = 1(optional) bydefault 1))
# list(range(-1,-1,-1))
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [35]:
# h = []
# for i in range(0,21,2):
#    h.append(i+2)
# print(h)
h = []
[h.append(i+2) for i in range(0,21,2)]
h

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [19]:
#finding names in list
colors = ["red", "yellow", "blue" ,"green", "purple"]
# for i in range(len(colors)):      #give length in range for strings alwyas unlike integers
#      print("the value at index", i, "==", colors[i])
#      print(colors[i])
len(colors)

5

In [13]:
colors = ["red", "yellow", "blue" ,"green", "purple"]
for i in colors:
    print(i)

red
yellow
blue
green
purple

In [11]:
colors = ["red", "yellow", "blue" ,"green", "purple"]
for value in colors:
    #print(value)
    ind = colors.index(value)
    print("value at index:" , ind, "==", value)
########################################

value at index: 0 == red
value at index: 1 == yellow
value at index: 2 == blue
value at index: 3 == green
value at index: 4 == purple

In [10]:
colors = ["red", "yellow", "blue" ,"green", "purple"]
for value in colors:
#     print("red has 3 letters")
    print(value, 'has', len(value),'letters')

red has 3 letters
yellow has 6 letters
blue has 4 letters
green has 5 letters
purple has 6 letters

In [3]:
len('red')

3

# Enumerate

In [28]:
k = [23,45,23,54,76,81]

for index,value in enumerate(k):
    print("index is", index, "\t", "value is", value)

index is 0 	 value is 23
index is 1 	 value is 45
index is 2 	 value is 23
index is 3 	 value is 54
index is 4 	 value is 76
index is 5 	 value is 81

In [48]:
a = ['aka', 'erf', 'dgf', 'ferd', 10, 10.3, '53']
# for i,j in enumerate(a):
#         print(i, j)

#or
print(list(enumerate(a)))    #fetches output in list format in horizontal 
# [print(i,j) for i,j in enumerate(a)]

[(0, 'aka'), (1, 'erf'), (2, 'dgf'), (3, 'ferd'), (4, 10), (5, 10.3), (6, '53')]

In [31]:
# s1 = ['geek']
# g1 = ['eats','sleeps','rests']
# for i in s1:
#     for j in g1:
#         print(i,j)
        
[(i,j) for j in g1 for i in s1]

[('geek', 'eats'), ('geek', 'sleeps'), ('geek', 'rests')]

In [37]:
list1 = ['geeks','are','koooool','ppl']
print(tuple(enumerate(list1)))

((0, 'geeks'), (1, 'are'), (2, 'koooool'), (3, 'ppl'))

In [ ]:
[print(i,j) for i,j in enumerate(a)] 
a

In [13]:
g = [11,2,333,455,666]

print(list(enumerate(g)), '\n')
print(list(enumerate(g,10))) # kahi se bhi indendex shurukrne k liye

[(0, 11), (1, 2), (2, 333), (3, 455), (4, 666)]

[(10, 11), (11, 2), (12, 333), (13, 455), (14, 666)]

In [23]:
lis = list(enumerate(g))
for number in lis:
    print(number[1])

11
2
333
455
666

# For loop

In [21]:
g = [100,200,300,400]
h = list(enumerate(g))
h

for i in h:
    print(i[1])
    print(i)
h

100
(0, 100)
200
(1, 200)
300
(2, 300)
400
(3, 400)

[(0, 100), (1, 200), (2, 300), (3, 400)]

In [3]:
lis = [1,2,3,4,5, 'apple', 'girl']
for i in lis[1:4]:
    print(i)

2
3
4

In [39]:
computer_brands = ["Apple", "Asus", "Dell", "Samsung"]
i = 0
while i < len(computer_brands):
    print(computer_brands[i], end = '  ')
    print(' ')
    i =i+1
    continue

Apple
Asus
Dell
Samsung

# if else

In [ ]:
if 10<2:
    print("true")
else:
    print("false")

In [ ]:
l = [1,2,3,4,5]
b = []

for v in l:
    if v == 1:
        b.append("one")
    elif v == 2:
        b.append('two')
    elif v == 3:
        b.append('three')
    elif( v==7):
        b.append('tr')
    else:
        b.append("last")
print(b)

In [50]:
odd = []
even = []

# for values in range(1,20):
#     if values % 2 == 0:
#         even.append(values)
        
#     else:
#         odd.append(values)
# print(even)
# print(odd)

# how to find odd even in alist and store into other
list_1 = [11,20,33,40,55,60]
for i in list_1:
    if i%2 == 0:
        even.append(i)
    else:
        odd.append(i)
        
print(even)
print(odd)

[20, 40, 60]
[11, 33, 55]

In [50]:
print([(i, 'even') if i%2 == 0 else (i, "odd") for i in range(0,9)])
print([(i, 'even') for i in range(0,9) if i%2 == 0])

[(0, 'even'), (1, 'odd'), (2, 'even'), (3, 'odd'), (4, 'even'), (5, 'odd'), (6, 'even'), (7, 'odd'), (8, 'even')]
[(0, 'even'), (2, 'even'), (4, 'even'), (6, 'even'), (8, 'even')]

# while

In [24]:
#We generally use this loop when we don't know the number of times to iterate beforehand
i = 2

while i < 5:
    print("infinite loop")
    break

infinite loop

In [ ]:
''' 
We need to increase the value of the counter variable in the body of the loop. 
This is very important (and mostly forgotten).
Failing to do so will result in an infinite loop (never-ending loop).
'''

In [8]:
g = [21,3,4,5]

for i in g:
    while i<5:
        print(i, "less")
        i +=1
        print(i)
    if  i == 8:
        break
    else :
        print(i,"more")
        i +=1
print (i)

21 more
3 less
4
4 less
5
5 more
4 less
5
5 more
5 more
6

In [52]:
# continue is used when we want to skip a particular condition
h = []
i = 0
while i<6:
    i += 1
    if i == 3:
        continue
    else:
        h.append(i)
h

[1, 2, 4, 5, 6]

In [11]:
'''
pass allows to pass on another value
diff in continue n pass: pass allows to do any operation after pass.
whereas in continue nothing is being printed below it and control is moved to other block
'''


h = []
age = [23,33,45,65,12,13]

for i in age:
    if i > 50:
        pass
        #continue
        print("pass happpend")
    else:
        h.append(i)
h

pass happpend

[23, 33, 45, 12, 13]

In [2]:
data = input()
data = data.split(" ")
amt = int(data[0])
bal = float(data[1])
if amt%5==0 and bal>=amt+0.5:
    bal = bal-amt-0.5
print(bal)

30 120
89.5

In [ ]:
tup

# string operations
### Strings are immutable. This means that elements of a string cannot be changed once they have been assigned. We can simply reassign different strings to the same name.

### We cannot delete or remove characters from a string. But deleting the string entirely is possible using the del keyword.

In [58]:
str1 = '"komal"'
#str1[1] = 'y'

str1 = "kia";str1

del str1

In [60]:
# String Membership Test
# We can test if a substring exists within a string or not, using the keyword in.

str1 = "rohan"
'o' in str1
'k' in str1

False

In [1]:
'''
An escape sequence starts with a backslash and is interpreted differently. 
If we use a single quote to represent a string, all the single quotes inside the string must be escaped.
Similar is the case with double quotes. Here is how it can be done to represent the above text.

Put a backslash before the quote that you wish to have in your text.
'''
# using triple quotes
print('''He said, "What's there?"''')

# escaping single quotes
print('He said, "What\'s there?"')

# escaping double quotes
print("He said, \"What's there?\"")

He said, "What's there?"
He said, "What's there?"
He said, "What's there?"

In [62]:
'''Raw String to ignore escape sequence
Sometimes we may wish to ignore the escape sequences inside a string.
To do this we can place r or R in front of the string. 
This will imply that it is a raw string and any escape sequence inside it will be ignored.
'''

print("This is \x61 \ngood example")

print(r"This is \x61 \ngood example")

This is a
good example
This is \x61 \ngood example

In [12]:
#list does not have replace function hence only used in string operations
a = "'ass', 'fgg', 'ass', 'bss','ass'"

a1 = a.replace('ass', 'jss', 2)
# older value, new value, no of reolacements to be done
a1

"'jss', 'fgg', 'jss', 'bss','ass'"

In [51]:
a = ['ass', 'fgg', 'ass', 'bss','ass']

for i in a:
    if i == 'ass':
        ind = a.index(i)
        a[ind] = 'bss'            #a[0],a[1].......
a        
        
#REMOVE removes only first occurence

['bss', 'fgg', 'bss', 'bss', 'bss']

In [52]:
for i in a:
    if i == 'bss':
        a.replace('bss','kss')
        print(a)

AttributeError: 'list' object has no attribute 'replace'

In [14]:
#split function separates the string from comma
#####################
s ='HELLO,THERE'#####
s.split('ER')

['HELLO,TH', 'E']

In [15]:

h1 = 'abc@gm.com','abc@gm.com','abc@gm.com','abc@gm.com','abc@gm.com'

for i in h1:
    c = i.split('@')
    print(c)
#     print(c[1])

['abc', 'gm.com']
['abc', 'gm.com']
['abc', 'gm.com']
['abc', 'gm.com']
['abc', 'gm.com']

# string functions

In [16]:
s = 'sdfuih@aojoejioac DHBEUICHHIUCV'

print('\n Upper:      ',s.upper())

print('\n Lower:      ',s.lower())

print('\n Capitalize: ',s.capitalize())

print('\n swapcase:   ',s.swapcase())

print('\n split:      ', s.split('@'))

print('\n replace :   ', s.replace('jio', 'joiiiiii'))

 Upper:       SDFUIH@AOJOEJIOAC DHBEUICHHIUCV

 Lower:       sdfuih@aojoejioac dhbeuichhiucv

 Capitalize:  Sdfuih@aojoejioac dhbeuichhiucv

 swapcase:    SDFUIH@AOJOEJIOAC dhbeuichhiucv

 split:       ['sdfuih', 'aojoejioac DHBEUICHHIUCV']

 replace :    sdfuih@aojoejoiiiiiiac DHBEUICHHIUCV

In [18]:
x = ['ab', 'cd']
for i in x:
    print(i.upper())

AB
CD

# Sets

In [3]:
# unique values
# unordered outputs
list1 = [1,2,3,4,4,4,4,5]
set1 = {1,2,3,3,3,3,3,3}
set2 = set([1,2,3,4,4,4,4,5]) # type casting
set3 = set(list1)

print('list', list1)
print('set1', set1)
print('set2', set2)
print('set3', set3)

type(set3)

list [1, 2, 3, 4, 4, 4, 4, 5]
set1 {1, 2, 3}
set2 {1, 2, 3, 4, 5}
set3 {1, 2, 3, 4, 5}

set

In [5]:
print(3 in list1)

True

# Once set is created , you cannot change the items but can add items

In [20]:
set1 = {'komal','vats','is','awsome'}
set1.add(300)
set1
set1.add('hello'); set1
set1.add('you'); set1
# add() only adds one element in the set at a time at random places

{300, 'awsome', 'hello', 'is', 'komal', 'vats', 'you'}

# Update Set

In [5]:
# update() modifies the old set and adds n number of elements 
set1 = {'a', 'b', 'c', 2,4,6}
set2 = {'d', 'a', 'b', 3,4,5,6}

# set1.update(set2); set1
set1.update({'r','a', 'b', 'b', 'i', 't'}); set1

{2, 4, 6, 'a', 'b', 'c', 'i', 'r', 't'}

In [6]:
set1.remove('a');set1

{2, 4, 6, 'b', 'c', 'i', 'r', 't'}

In [7]:
# a set cannot have mutale items like lists

myset = {1,2,3,[3,4]};myset

TypeError: unhashable type: 'list'

In [8]:
# create empty set is tricky
# a = {}
# type(a)   # dictionary

a = set()
type(a)

set

In [3]:
# indexing not possible 
# myset = {12,3,4}
#myset[0]

myset = {12,3,2,3,3,9}
myset.update(('komal','radha'), 'ria');myset

{12, 2, 3, 9, 'a', 'i', 'komal', 'r', 'radha'}

In [14]:
# Discard - removes , also not throw error
set1.discard('hi'); set1


# Remove - throws error if element not present in the set(elemeent not present)
## set1.remove('hi');set1

KeyError: 'hi'

In [4]:
# clear
set1.clear()
#delete
del set2

In [16]:
'''
pop() removes the very first element each time and it is
different each time dueto the property of sets, also it takes no argument
''' 
set1 = {'hello', 'to', 'you', 'pretty', 'girl'}
set1.pop();set1

{'hello', 'pretty', 'to', 'you'}

# SET OPERATIONS
## Union

In [17]:
# union is the set of all elements in the final  set

set1 = {1,2,3,4,5,5}
set2 = {7, 8, 9,0,9}

set3 = {100,200,300}
set4 = {'a', 'b'}

new_set = set1.union(set2, set3, set4);new_set
neww_set = set1|set2|set3|set4 ; neww_set        # UNION

{0, 1, 100, 2, 200, 3, 300, 4, 5, 7, 8, 9, 'a', 'b'}

##  Intersection

In [27]:
# set of elements which are common 

set1 = {1,2,3,4,5,5, 'a'}
set2 = {'a', 5}
set3 = {4,5,6,43,'b','a'}
set4 = {5, 'b', 'a'}
        
set5 = set1 & set2 & set3 & set4 ; set5   
set6 = set1.intersection(set2, set3, set4); set6

{5, 'a'}

## Difference

In [20]:
# (A-B):ALL ELEMENTS OF A AND NONE OF B(VICE VERSA)

set1 = {1,2,3,4,5,5, 'a'}
set2 = {'a', 5}
set12 = set1.difference(set2);set12
set12 = set1-set2;set12

#set12 = set1-set2          #differnce
#print(set21)

{1, 2, 3, 4}

## Symmetric_Difference

In [1]:
# it is reverse of Intersection ie. elements of a and b both but not the common ones 
# unique elements
set1 = {1,2,3,4,5,5, 'a'}
set2 = {'a', 5}
set3 = {1,4,6}

set4 = set1.symmetric_difference(set2); set4
#set4 = set1^set2^set3;set4

{1, 2, 3, 4}

In [2]:
print(set3.issubset(set1))

False

# OS MODULE

In [3]:
import os
os.getcwd()

'C:\\Users\\admin\\Downloads\\python_sujata'

# Dictionary

# Recognized by curly brackets { }

They are mutable and can be nested like list and tuples

They have a key and value pair , so they are also called associative pair

A given key can oly appear once in a dictionary and both key and value can be any data type - str,int,float,tuple,list

Each and value is seperated by a colon( : )

Dictionary are unordered so indexing does not work on it. Instead keys are treated as index. whereas list and tuples are ordered

when we convert a dictionary to list or a tuple by list() then only keys come in list and tuple not the values

concatenation cannot be done on dictionary

In [5]:
dict1 = {'name':'komal',
        'age':21,
        'hair': 'black',
        'id':1.0}
type(dict1)

dict1.get('id')      # by key
dict1['hair']

'black'

In [8]:
dict1['sname'] = 'komalvats';dict1

{'name': 'komal', 'age': 21, 'hair': 'black', 'id': 1.0, 'sname': 'komalvats'}

In [42]:
# updating using key

dict1 = {'name':'komal',
        'age':21,
        'hair': 'black',
        'id':1.0}
dict1['name'] = 'kiara'
dict1

{'name': 'kiara', 'age': 21, 'hair': 'black', 'id': 1.0}

In [43]:
# adding a new value

dict1['place'] = 'Delhi'
dict1
dict1['place'] = 'Haryana'; dict1

{'name': 'kiara', 'age': 21, 'hair': 'black', 'id': 1.0, 'place': 'Haryana'}

In [37]:
for i in dict1:
    print(dict1[i])         # to print values one by one
    
for i in dict1:
    print(i)                # to print keys one by one

kiara
21
black
1.0
name
age
hair
id

In [38]:
for key, value in dict1.items():
    print(key, ':', value)                 # .items( gives key value pair)
    
    
for key in dict1.keys():                   # .keys(gives keys)
    print(key)

[key for key in dict1.keys()]


for value in dict1.values():               # .values(gives values)
    print(value)

name : kiara
age : 21
hair : black
id : 1.0
name
age
hair
id
kiara
21
black
1.0

## Check if key exists

In [39]:
if 'name' in dict1:
    print('yes')

yes

## len()

In [40]:
# To determine how many items (key-value pairs) a dictionary has, use the len() function.

print(len(dict1))

4

In [10]:
# removes withspecified key name

dict1.pop('hair');dict1

{'name': 'komal', 'age': 21, 'id': 1.0, 'sname': 'komalvats'}

In [46]:
#The popitem() method removes the last inserted item 

dict1.popitem();dict1

{'name': 'kiara', 'age': 21, 'hair': 'black'}

In [13]:
# del dict1['hair'];dict1
del dict1                    # deletes whole dictionary too

# clear dict1                  # empties the dictionary

In [15]:
# changing the value of a key
d = { 1 :['sam','bam','ham'], 
     'age' : [23,30,[50,15,17],25,30] , 
     'hair' : 'black' ,
     'id' : 1.0}

d[1] = 'rohit'  ;d
# print(d[1])
# d
# d['age'][2][0]

{1: 'rohit', 'age': [23, 30, [50, 15, 17], 25, 30], 'hair': 'black', 'id': 1.0}

In [51]:
dict2 = {'name':'komal',
        'surname':'vats',
        'siblings': ['brother', 'sister'],
            'parents':['mother', 'father']}
dict2

{'name': 'komal',
 'surname': 'vats',
 'siblings': ['brother', 'sister'],
 'parents': ['mother', 'father']}

In [81]:
#dict1.update(iterable) inserts specified items to dictionary

dict2 = {'country': 'india', 'seasons':6}
dict1.update(dict2); dict1

dict1.update({'country': 'india', 'seasons':6});dict1

{'name': 'kiara',
 'age': 21,
 'hair': 'black',
 'id': 1.0,
 'country': 'india',
 'seasons': 6}

In [2]:
d = {'name':'komal', 'age':'23', 'hair':'black', 'id': 1}

for x,y in d.items():
    if x == 'age':
        d[x] = 22
        d['name'] = 'shamita'
d

{'name': 'shamita', 'age': 22, 'hair': 'black', 'id': 1}

In [6]:
d = {'name':'komal', 'age':'23', 'hair':'black', 'id': 1}

if d['age'] == 23:
    d['age'] = 55
    d['name'] = 'kia'
d    

del d['name']  ;d     # deleting that particular key
d.clear();d         # clearing the dictionary

{}

'''
Since keys are what dictionaries use to lookup values, you can't really change them. The closest thing you can do is 
to save the value associated with the old key, delete it, then add a new entry with the replacement key and the saved value.
'''

## Nested Dictionaries

In [25]:
# keys used not indexing

myFamily = {'child1' : {'name':'komal',
                        'age':21},
            'child2' : {'name':'ria',
                       'age': 22},
            'child3' : {'name':'karan',
                       'age': 23},
}
print(myFamily)


myFamily['child3']['age']

{'child1': {'name': 'komal', 'age': 21}, 'child2': {'name': 'ria', 'age': 22}, 'child3': {'name': 'karan', 'age': 23}}

23

In [10]:
# nest dictionaries together in a already existing dictionaries

# these are different dictionaries
child1 = {'name':'komal',
         'age':22}
child2 = {'name':'ria',
         'age':23},
child3 = {'name':'karan',
         'age':43}

#nest in another dictionary
myFamily = {
    'child1' : child1,
    'child2' : child2,
    'child3' : child3
};myFamily

{'child1': {'name': 'komal', 'age': 22},
 'child2': ({'name': 'ria', 'age': 23},),
 'child3': {'name': 'karan', 'age': 43}}

### dict constructor

In [17]:
# () is used
# keys are not in strings
# use of dict constructor
# equals used instead of colon

chocolate = dict(variety1 = 'dark_chocolate', variety2 = 'milk_chocolate');chocolate

{'variety1': 'dark_chocolate', 'variety2': 'milk_chocolate'}

# Tuple

In [16]:
# ordered 
# immutable unlike lists
# repitions allowed

tu = ('komal','vats',5,6,'kia');tu

('komal', 'vats', 5, 6, 'kia')

In [19]:
type(tu)

tuple

In [20]:
tu[1]
tu[-1]

'kia'

In [25]:
## range of indexing

tu[2:6]
tu[-3:-1]

(5, 6)

In [29]:
# You can convert the tuple into a list, change the list, and convert the list back into a tuple.

# tu[0] = 'a'     #throws error
tu = ('komal','vats',1,2,3,'raj');tu
y = list(tu)
y[0] = 'neha'
tu = tuple(y);tu

('neha', 'vats', 1, 2, 3, 'raj')

In [30]:
for i in tu:
    print(i)

neha
vats
1
2
3
raj

In [31]:
len(tu)

6

In [17]:
tu.count(5)        # frequency of that element

1

In [18]:
# To create a tuple with only one item, you have to add a comma after the item,
#otherwise Python will not recognize it as a tuple.(string)

tuple1 = ('apple',)
type(tuple1)

str

In [33]:
tu = (1,2,3,4,'abc','ko','kia')
tu.index('abc')

4

In [18]:
# Nested tuple

tt = ((1,2),
      [43,54,56],
      84,
      'ko')
tt[1][2]
tt
print(list(tt))     # inter-type conversion;dictionary not applicable

type(tt)

[(1, 2), [43, 54, 56], 84, 'ko']

tuple

In [19]:
max({2,3,4,5,3,5,7})

7

In [20]:
min(23,3,2,3,4,22,68)

2

In [21]:
abs(-23)   # absolute value

23

In [22]:
print(round(1.233))

1

In [24]:
print(round(2.3334, 3))    #round(number, ndigits) nuber of digits upto which we want to roundup

2.333

In [27]:
l = {1,4,2,56,4}
sum(l, 20) #20 added to sum of list

83

## tuple constructor

In [34]:
# double () are used

fruits = (('apple','mango','pineapple','strawberry','kiwi'));fruits

('apple', 'mango', 'pineapple', 'strawberry', 'kiwi')