In [13]:
import pandas as pd
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('titanic.csv', delimiter = '\t')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.head()

In [3]:
df.Sex.map({'female':0, 'male':1}).head()

0    1
1    0
2    0
3    0
4    1
Name: Sex, dtype: int64

In [ ]:
display(df.Sex.value_counts(),
        
        'Percent Representation',
        
        (df.Sex.value_counts(normalize = True)*100).astype(str)+' %')

In [ ]:
df.Sex.apply(lambda x: 1 if x == 'female' else 0)

In [ ]:
display(
    
        pd.get_dummies(df.Sex)['female'].head(),
        
        pd.get_dummies(df.Sex).iloc[:,0].head(),
        
        pd.get_dummies(df.Sex).drop('male',1).head()
       
       )

In [4]:
df[['female','male']] = pd.get_dummies(df.Sex)
df.Sex = pd.get_dummies(df.Sex)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,female,male
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C,1,0
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S,1,0
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S,0,1

In [ ]:
pd.get_dummies(df.Pclass).head()

In [ ]:
df_dummy = pd.get_dummies(df,
                          columns=['Sex', 'Embarked'],
                          drop_first =True)
df_dummy.head(2)

In [ ]:
((df.groupby('Survived')['Sex'].value_counts(normalize = True))*100).to_frame()

In [ ]:
len(df_dummy.columns)

In [ ]:
df.columns

In [ ]:
df_embark_dummy = pd.get_dummies(df['Embarked'],drop_first = True)

In [ ]:
df_embark_dummy.head()

In [ ]:
df.isnull().sum()

In [ ]:
display(df.Age.sort_values().head(),
        df.sort_values(by = 'Age').head())

In [ ]:
df.Embarked.fillna('S',inplace = True)
df.Embarked.isna().sum()


df.Age.fillna(df.Age.mean(),inplace = True)
df.Age.isnull().sum()

In [ ]:
a = df.Embarked.isna().astype(int)
a.apply(lambda x: 'S' if x == 1 else x)





a2 = df.Embarked.isna()
a2.apply(lambda x: 'S' if x == True else x)

In [ ]:
df.groupby(['Embarked']).Survived.value_counts().to_frame().plot(kind = 'bar')

In [ ]:
df.groupby(['Embarked']).Survived.count().plot(kind = 'bar');

In [ ]:
df.drop(['Name','Sex','Age','SibSp','Parch','PassengerId','Cabin'],1,inplace = True)

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,female,male
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C,1,0
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S,1,0
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S,0,1

In [ ]:
df2 = df.copy()

In [ ]:
df['Embarked_2'] =  df.Embarked.replace(np.nan,'S')

In [18]:
table = pd.pivot_table(data = df[['Pclass', 'Fare', 'Survived']], values = 'Fare', columns = 'Survived',
                       index = 'Pclass', aggfunc = np.sum)
table

Survived          0         1
Pclass
1         1440.6333  944.4249
2          419.8916  289.9000
3          921.1249  369.1209

In [27]:
table.index.

3

In [25]:
table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 1 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      float64
 1   1       3 non-null      float64
dtypes: float64(2)
memory usage: 72.0 bytes

In [26]:
plt.bar(table.index, table[['0', '1']])
plt.xticks(rotation = 70)
plt.xlabel('Passenger_class')


plt.ylabel('Fare')
plt.title('Graph')

KeyError: "None of [Index(['0', '1'], dtype='object', name='Survived')] are in the [columns]"

In [28]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'female', 'male'],
      dtype='object')

In [29]:
k = df[['Parch', 'Ticket', 'Fare']]

In [32]:
k.loc[len(k)] = ['kkkk', 'oooo', 'ppp']
k

C:\Users\admin\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [33]:
# add new col

pd.concat()

    Parch            Ticket     Fare
0       0         A/5 21171     7.25
1       0          PC 17599  71.2833
2       0  STON/O2. 3101282    7.925
3       0            113803     53.1
4       0            373450     8.05
..    ...               ...      ...
152     0        A.5. 11206     8.05
153     2          A/5. 851     14.5
154     0         Fa 265302   7.3125
155     1          PC 17597  61.3792
156  kkkk              oooo      ppp

[157 rows x 3 columns]